.footer
{
	right:0;
	bottom:0;
	left:0;
	padding:2px;
	background-color:#2E7D32;
	text-align: center;
	font-family:Calibri;
	font-size:14px;
}
body
{
	background-color:#66BB6A;
	margin:0;
}
.tdisplay
{
	font-family:calibri;
	padding: 10px;
	
}
.container {
		padding:	20px ;
		background-color:#eaeaea;
		border: 0px solid #3d3d3d;
		margin: 10px 50px 75px 30px;
		width:600px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius:	3px;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	
	.container:hover{
		 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	
	.container-element{
		padding: 	12px 14px;
		text-align:		center;
		font-family:	 calibri;
	}
	
table{
	border-collapse:collapse;
	background-color:#eeeeee;
	/*cursor: 	pointer;*/
}
table,th,td,tr
{
	border:1px solid black;
	text-align:center;
	padding: 5px;
}
/*tr:hover{background-color:#acacac;}*/
.display
{
	font-family: Calibri;
}
.display-or
{
	margin:10px 10px 10px 10px;
	border: 1px solid black;
	font-family: Calibri;
}
input[type=submit],input[type=reset]{
		background-color:  #4CAF50;
		color:	white;
		padding:	10px;
		border:	none;
		cursor: 	pointer;
		width:	150px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		transition-duration:0.3s;
		border-radius:	5px;
	}
	input[type=submit],input[type=reset]:hover {
		background-color:#449d48;
	}
input[type=text]{
	
	height: 100px;
	width: 100%;
	
}
input[type=text]:focus	{
	border-color:1px solid black;
}
.in-txt
{
	border:1px solid ;
	transition-duration:0.3s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.if-display
{
	border-color:#3d3d3d;
	background-color:#e4e4e4;
}

